.container {
    width: 36rem;
    height: 17rem;
}

body {
    font-size: 16px;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-item {
    margin-bottom: 1rem;
}

.form-input {
    display: block;
    width: 100%;
    height: calc(1.3em + 0.65rem + 2px);
    padding: 0.275rem 0.75rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
    color: #30363c;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:focus {
    border-color: #506f8d;
    box-shadow: 0 0 5px #506f8d;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-link {
    text-decoration: underline;
    color: #007bff;
}

.btn-link:hover {
    cursor: pointer;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    flex: 1;
}

.column-first {
    flex: 4;
}

.hide {
    display: none;
}

.danger {
    color: rgb(136, 31, 31);
}

.text-muted {
    color: #909399;
}

.key-list li {
    margin-bottom: 12px;
}

.key-opt {
    margin-left: 30px;
    margin-top: 32px;
}

.surport {
    position: fixed;
    bottom: 5px;
    font-size: 12px;
}